<p id="notice"><%= notice %></p>

<h1>Hammer</h1>

<p><%= link_to 'Customers', customers_path %></p>

<p><%= link_to 'Rack Configurations', rack_configs_path %></p>

<p><%= link_to 'Parts', parts_path %></p>
