<div class="card mb-4">
  <div class="card-header">
    <h3>
      <a class="text-body" href="#collapseScan" data-toggle="collapse" aria-expanded="true" aria-controls="collapseScan">
        Scan
      </a>
    </h3>
    <%= link_to 'Assets', edit_build_path(@build, build: { asset_numbers_attributes: true }), class: "text-body" %> |
    <%= link_to 'Serials', edit_build_path(@build, build: { serial_numbers_attributes: true }), class: "text-body" %>    
  </div>

  <div class="collapse show" id="collapseScan">
    <div class="card-body">
      <hr>
      <%= link_to "Top »", "#top", class: "text-body" %>
    </div>
  </div>
</div>
