<%= form_with(model: cable_label, local: true) do |form| %>
  <% if cable_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cable_label.errors.count, "error") %> prohibited this cable_label from being saved:</h2>

      <ul>
      <% cable_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
