<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @asset_number.num %>
</p>

<%= link_to 'Edit', edit_asset_number_path(@asset_number) %> |
<%= link_to 'Back', asset_numbers_path %>
