<h1>Customers</h1>

<div class="mb-3">
  <%= link_to 'New »', new_customer_path, class: "text-body" %>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>

          <tbody>
            <% customers = @customers.sort_by { |hash| hash[:name] } %>
            <% customers.each do |customer| %>
              <tr>
                <td><%= link_to customer.name, customer %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr class="mb-4">
