<h1>Customers</h1>
<ul class="list-inline font-weight-light">
  <li class="list-inline-item">
    <%= link_to 'New »', new_customer_path, class: "text-body #{visibility}" %>
  </li>
</ul>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>

          <tbody>
            <% customers = @customers.sort_by { |hash| hash[:name] } %>
            <% customers.each do |customer| %>
              <tr>
                <td><%= link_to "#{customer.name} »", customer, class: "text-body" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
