<h1>Customers</h1>

<% if @customers.first %>
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>

        <tbody>
          <% customers = @customers.sort_by { |hash| hash[:name] } %>
          <% customers.each do |customer| %>
            <tr>
              <td><%= link_to customer.name, customer %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to 'New', new_customer_path, class: "btn btn-outline-primary col-12 col-sm-auto" %>
