<h1><%= @customer.name %></h1>

<div class="mb-3">
  <%= link_to 'Edit »', edit_customer_path(@customer), class: "text-body" %>
</div>

<%= render "shared/builds" %>

<%= render "shared/rack_configs" %>
<hr class="mb-4">
