<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @serial_number.num %>
</p>

<%= link_to 'Edit', edit_serial_number_path(@serial_number) %> |
<%= link_to 'Back', serial_numbers_path %>
