<h1 class="mb-5">Admin</h1>

<div class="card mb-4">
  <div class="card-header">
    <h2>Users</h2>
  </div>

  <div class="card-body">
    <ul class="list-inline font-weight-light">
      <li class="list-inline-item">
        <%= link_to 'New »', new_admin_user_path, class: "text-body" %>
      </li>
    </ul>

    <div class="row">
      <div class="col-auto">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to "#{user.full_name} »", admin_user_path(user), class: "text-body" %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
