<p>Hello <%= @resource.first_name %>,</p>

<p>You're receiving this email because you were enrolled in Redapt Hammer or someone requested a link to change your password.</p>

<p>Please use the following link to set your password and gain access to Hammer:</p>

<p><%= link_to 'Access Hammer', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you weren't expecting this email, please contact the system administrator immediately (email address below).</p>

<p>Regards,</p>

<p>
  Team Hammer</br>
  <%= mail_to "support@msp.attunix.com" %>
</p>
